
.footer{
    background-color: $colorSecundario;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    justify-items: center;
    align-items: center;
    & #footerTitle{
        grid-row: 1/2;
        color: $colorTitulos;
    }
    & .redessociales{
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        & .logoRedSocial{
            color: $colorTitulos;
            font-size: 50px;
            margin: 20px;
        }
        .logoRedSocial:hover{
            color: $colorHover;
            transition: 0.3s;
        }
    }
}
