/* inicio estilos pagina productos */

#container-titulo-productos{
    background-color: $colorPrimario;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

/* fin estilos pagina productos */