
.main-sobreNosotros {
    background-color: $colorFondoBlanco;
    padding: 20px;
    & .imagen-sobre-nosotros{
        background-image: url(../img/equipoDMR.jpeg);
        border-radius: 5px;
        height: 500px;
        margin-top: 20px;
        background-position: center;
        background-size: cover;
    }
}

.sectionMap{
    background-color: $colorFondoBlanco;
}

$pasos: (
    nro1: rgb(226, 210, 193),
    nro2: rgb(165, 156, 146),
    nro3: rgb(73, 69, 66)
);

@each $nro, $bkcolor in $pasos {
    .paso--#{$nro} {
        background-color: $bkcolor;
        border-radius: 5px;
        height: 100px;
        line-height: 100px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 2px;
        border: 2px solid #333;
        text-align: center;
        font-size: 20px;
        color: $colorTitulosDark;
        text-shadow: $textshadow;
        }
    }

#practicaExtend {
    background-color: $colorFondoBlanco;
    padding: 20px;
    height: 300px;
}

@mixin practica_mixin ($width, $height, $backcolor, $textalign) {
    height: $height;
    width: $width;
    background-color: $backcolor;
    text-align: $textalign;
    }

.extends {
    @include practica_mixin(50%, 100px , $colorFondoBlanco , center);
    border: solid 2px rgb(245, 172, 89);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 20px;
    line-height: 100px;
}

.extends-2 {
    @extend .extends;
}



