* {
    padding: 0px;
    margin: 0px;
}

@import "variables";
@import "header";
@import "mainIndex";
@import "footer";
@import "mainContacto";
@import "mainProductos";
@import "mainSobreNosotros";
@import "mainOfertas";


body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $colorPrimario;
}















