* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: beige;
}

header{
    background-color: beige;
}
nav{
    background-color: beige;
    
}

/* inicio styles para el carrousel */

.carousel-inner {
    max-height: 500px;
}

.carousel-item {
    max-height: 500px;
}


.carousel-caption{
    text-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 20px;
}

/* fin styles para el carrousel */

/* inicio styles para el seccion beneficios Index */

.seccion-beneficios {
    min-height: 200px;
    justify-content: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;

}

/* fin styles para el seccion beneficios Index */

/* inicio seccion productos destacados index */

#container-titulo-productos-destacados{
    text-align: center;
    font-size: 50px;
    background-color: beige;
    height: 50px;
}

#titulo-productos-destacados{
    line-height: 100px;
}

.galeria-productos{
    background-color: beige;
    padding: 50px;
    text-shadow: 0 0 5px rgb(143, 142, 142);
}

.section-galeria-productos{
    background-color: rgba(137, 43, 226, 0);
}

.card{
    padding: 20px;
    background-color: rgba(165, 42, 42, 0);
    border: none;
}

.card-title {
    padding: 20px;
    text-align: center;
    color: black;
}



/* fin seccion productos destacados index */

/* Inicio seccion regalos index */

#regalosEventos{
    height: 400px;
    background-color: tomato;
    background-image: url(img/regalos_jabones.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-regalos{
    color: black;
    font-size: 30px;
    text-shadow: 0 0 5px rgb(134, 131, 131);

}

.btn {
    color: black;
    font-size: 25px;
    border-color: black;
}

/* fin seccion regalos index */


/* inicio styles para el footer */

.footer{
    background-color: #1b262b;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    justify-items: center;
    align-items: center;
}

#footerTitle{
    grid-row: 1/2;
    color: white;
}

.redessociales{
    grid-row: 2/3;
    display: flex;
    flex-direction: row;

}

footer i{
    color: white;
    font-size: 50px;
    margin: 20px;
}

footer i:hover{
    color: gray;
    transition: 0.3s;
}

/* fin styles para el footer */


/* inicio estilos pagina de contacto */

.main-contacto{
    background-color: white;
}

.seccion-contacto{
    padding: 30px;
}

.btn-submit{
    margin-top: 10px;
    font-size: 20px;
}

.imagen-contacto{
    background-image: url(img/jabones_pagina_contacto.jpeg);
    border-radius: 5px;
    height: 400px;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}

/* fin estilos pagina de contacto */

/* inicio estilos pagina productos */

#container-titulo-productos{
    background-color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

/* fin estilos pagina productos */

/* inicio estilos pagina sobre nosotros */

.imagen-sobre-nosotros{
    background-image: url(img/equipoDMR.jpeg);
    border-radius: 5px;
    height: 400px;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}

/* fin estilos pagina sobre nosotros */

/* inicio estilos pagina ofertas */

.tematica-oferta-actual{
    height: 400px;
    background-color: chocolate;
    background-image: url(img/navidad.jpg);
    background-size: cover;
    color: white;
    position: relative;
    
}

.texto-oferta{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.texto-oferta-titulo{
    font-size: 40px;
}

.texto-oferta-p{
    font-size: 20px;
}

/* fin estilos pagina ofertas */

